#root {
 
  margin: 0 auto;
  
  text-align: center;
}

.content{
  height: 70vh;
  min-height: 22em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 20em;
  max-width: 100%;
  
  will-change: filter;
  transition: filter 300ms;
}

.logo:focus-visible{
  outline: none;
}

.logo:active{
 
  width:19em;
}
.counter{
  font-weight: 800;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.counter img{
  width:40px;
}

footer{
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-group{
  display: flex;
}

.btn-group button{
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.025);
  margin: 0 2px;
  padding: 15px 20px;
  width:8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

}
.btn-group button img{
  max-height: 30px;
}
.btn-group button span{
  margin-top: 10px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


